<!--  -->

<% for(let i=0; i < data.length; i++) { %>
<div class="card mb-3">
  <img loading="lazy" src="<%= `${data[i].img}`%>" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title"><%= data[i].title %></h5>
    <p class="card-text"><%= data[i].text %></p>
    <p class="card-text"><small class="text-muted"><%= data[i].time %></small></p>
    <a rel="noopener noreferrer" target="_blank" href="<%= `${data[i].link}`%>">Read More</a>
  </div>
</div>
<% } %>
<!--  -->
