<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{title:process.env.MA_APP_NAME + " - Main"}) -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
    <main>
      <div class="container mt-3">
        <div class="card">
          <div class="card-body">
            <div></div>
            <div class="row justify-content-center">
              <div class="col col-sm-12 col-md-6">
                <!--  -->
                <%if (role ==="supervisor") { %>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Group Supervisor</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      You have now access to admin tools
                    </h6>
                    <div class="d-flex gap-3">
                      <a href="<%= `/main/supervisor/reports` %>" class="btn btn-primary">
                        📊 Reports
                      </a>
                    </div>
                  </div>
                </div>
                <%} %>
                <!--  -->
                <p id="lbl_time" class="display-1 fw-bold text-center">Time</p>
                <p id="lbl_date" class="display-6 text-center">Date</p>

                <%if (code !== 200) { %>
                <div class="alert alert-info text-center" role="alert">
                  <strong>Hi <%= username %>!</strong> Please click the button with your status.
                </div>
                <div class="d-grid gap-2" data-toggle="modal" data-target="#exampleModal">
                  <button
                    disabled
                    id="btn_present"
                    class="btn btn-success btn-lg"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    ☑️ Present
                  </button>
                  <hr />
                  <button
                    disabled
                    id="btn_sl"
                    class="btn btn-dark btn-lg"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    😷 Sick Leave
                  </button>
                  <button
                    disabled
                    id="btn_el"
                    class="btn btn-danger btn-lg"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    🏥 Emergency Leave
                  </button>
                </div>
                <% } else { %>
                <div class="alert alert-info text-center" role="alert">
                  <strong>Hi <%= username %>!</strong> You have already logged your attendance.
                </div>
                <!-- TIME CARD -->
                <% if (status === "PRESENT") { %>
                <div class="card text-white bg-success mb-3">
                  <div class="card-header"><%= label %></div>
                  <div class="card-body">
                    <h5 class="card-title">☑️ <%= status %></h5>
                    <p class="card-text">⌚ <strong><%= timein %></strong></p>
                  </div>
                </div>
                <% } else if (status === "SICK_LEAVE") { %>
                <div class="card text-white bg-dark mb-3">
                  <div class="card-header"><%= label %></div>
                  <div class="card-body">
                    <h5 class="card-title">😷 <%= status %></h5>
                    <p class="card-text">⌚ <strong><%= timein %></strong></p>
                  </div>
                </div>
                <% } else if (status === "EMERGENCY_LEAVE") { %>
                <div class="card text-white bg-danger mb-3">
                  <div class="card-header"><%= label %></div>
                  <div class="card-body">
                    <h5 class="card-title">🏥 <%= status %></h5>
                    <p class="card-text">⌚ <strong><%= timein %></strong></p>
                  </div>
                </div>
                <% } %>
                <!-- TIME CARD END -->
                <!-- TIME TABLE -->
                <h6 class="display-6">⌛ Team</h6>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">user</th>
                      <th scope="col">status</th>
                      <th scope="col">time</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i < tableData.length; i++) { %>
                    <tr class="table-<%= tableData[i].label %>">
                      <th scope="row"><%= i + 1 %></th>
                      <td>
                        <div class="d-flex flex-row flex gap-1 align-items-center">
                          <div class="x-avatar-container">
                            <img
                              class="img-responsive"
                              alt="<%= `Image of ${tableData[i].name}` %>"
                              src="<%= `https://avatars.dicebear.com/api/initials/${tableData[i].name}.svg` %>"
                            />
                          </div>
                          <strong> <%= tableData[i].name %> </strong>
                        </div>
                      </td>
                      <td><%= tableData[i].status %></td>
                      <td><%= tableData[i].timein %></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <!-- TIME TABLE END  -->
                <% } %>
                <!--  -->

                <!--  -->
                <hr />
                <h6 class="display-6">📰 Feed</h6>
                <%- include('./partials/news.ejs',{data:feed}) -%>
                <!--  -->
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </main>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Please confirm that you selected
            <mark><strong id="lbl_selected">--</strong></mark>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            <button
              id="btn_attendance_confirm"
              data-bs-dismiss="modal"
              type="button"
              class="btn btn-primary"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/js-lib.ejs') -%>
    <script defer src="/public/js/main.js"></script>
  </body>
</html>
