<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs',{title:process.env.MA_APP_NAME + " - Reports"}) -%>
  <body>
    <%- include('./partials/nav.ejs') -%>
    <main>
      <div class="container mt-3">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col col-sm-12">
                <!-- START OF CONTENT -->
                <h1 class="display-6"><i class="bi bi-file-earmark-bar-graph"></i> Reports</h1>
                <hr />
                <span><strong><%= start %> // <%= end %></strong></span>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"><mark>Members</mark></th>
                        <% for(let i=0; i < tableHeaders.length; i++) { %>
                        <th scope="col" class="<%= `bg-${tableHeaders[i].color}` %>">
                          <div class="d-flex flex-column align-items-center">
                            <span><%= tableHeaders[i].number %></span>
                            <small class="fw-normal"><%= tableHeaders[i].name %></small>
                          </div>
                          %>
                        </th>
                        <% } %>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(const name of Object.keys(attendance).sort()) { %>
                      <tr>
                        <th scope="row"><%= name %></th>
                        <% for(const day of Object.keys(attendance[name]).sort()) { %>
                        <td
                          class="text-center text-light bg-<%= `${attendance[name][day].color}` %>"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="<%= `${day}-${attendance[name][day].status}` %>"
                        >
                          <%= attendance[name][day].status %>
                        </td>
                        <% } %>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                  <strong><i class="bi bi-stopwatch-fill pe-1"></i></strong>
                  <div>
                    This report was last updated,
                    <strong><%= created %></strong> and it may take 3 days for it to be
                    recalculated.
                  </div>
                </div>
                <!-- END OF CONTENT -->
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </main>
    <!-- Bootstrap -->
    <%- include('./partials/js-lib.ejs') -%>
  </body>
</html>
